

.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  font-family: "Kalam", cursive;
}

h2 {
  text-align: right;
  color: #3282b8;
}

h3 {
  font-size: 12pt;
  text-align: right;
}

.fas {
  text-align: center;
  color: #ffcc00;
  font-size: 30px;
  padding: 10px;
}

.card-header {
  color: #3282b8;
}

.card-text {
  text-align: center;
}

#forecastTitle {
  text-align: left;
}

#time-now {
  text-align: right;
}

.alignright {
  text-align: right;
  width: 100%;
}
