body {
  margin: 0;
  font-family: "Kalam", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-icon-center {
  width: 100%;
  text-align: center;
}

.alignright{
  text-align: right;
}